################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventoryAzureFunction/.vs/InventoryAzureFunction/v17
