################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventoryAzureFunction/.vs/InventoryAzureFunction/v17
/InventoryFunction/.vs/InventoryFunction
/InventoryAzureFunction/.vs/InventoryAzureFunction/DesignTimeBuild/.dtbcache.v2
/InventoryFunction/.vs/ProjectEvaluation
